<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Required to discover and connect to Epson printers via Bluetooth.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Required to discover and connect to Epson printers on the local network.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_printer._tcp</string>
		<string>_pdl-datastream._tcp</string>
		<string>_ipp._tcp</string>
		<string>_ipps._tcp</string>
	</array>
	<key>UISupportedExternalAccessoryProtocols</key>
	<array>
		<string>com.epson.escpos</string>
	</array>
</dict>
</plist>
